<footer
    style="position: absolute; bottom: 0; width: 100%; height: 8%; background-color: #247BC3; color: white; text-align: left; padding-top: 15px;">
    <p style="margin-left: 2%; font-size: 20px; margin-top: 0.4%;">© 2023 - Diogo Sparrenberger Wegler</p>
</footer>